
<!DOCTYPE html>
<html>
    <head>
        <title>Education</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        {% load static %}
        <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "css/education.css" %}>         
    </head>
    <body>
        
        <nav class="navbar navbar-expand-sm  ">
            <a class="navbar-brand" id="logo" href="#">John Adetola</a>      
            <ul class="navbar-nav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collNavbar">
            <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
            <li class="nav-item dropdown disabled">
                <a class="nav-link dropdown-toggle" href="about" id="navbardrop">About</a>
                <div class="dropdown-menu">
                <a class="dropdown-item text-left" href="education">Education</a>
                <a class="dropdown-item text-left" href="career">Career</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="contact-us">Contact Us</a></li></div> </ul>
            <div >
                <a href="https://www.twitter.com/johnadetola96"  class="fa fa-twitter border rounded-circle"></a>
                <a href="https://www.linkedin.com/in/john-adegbite-286ab515a"  class="fa fa-linkedin border rounded-circle"></a>
                <a href="https://www.instagram.com/johnadetola"  class="fa fa-instagram border rounded-circle"></a>
                <a href="https://www.facebook.com/johnadetola"  class="fa fa-facebook-square border rounded-circle" ></a>
                <a href="" data-keyboard="true" data-target="#myModal" data-toggle="modal" class="fa fa-envelope border rounded-circle"></a>
                <a href="https://wa.me/+2347061038442"  class="fa fa-whatsapp border rounded-circle"></a>
            </div>
        </nav>
        <div class="container" >
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> 
        <div class="carousel-inner"  >
            <div class="item active">
                <div class="d-flex justify-content-center">
                <img src={% static "images/education.jpg" %} alt="education" style="height: 500px; " >
                <div class="carousel-caption">
                    <p id="captiontag">Knowledge acquired is unquantifiable</p>
                </div></div>
            </div>
            <div class="item ">
                <div class="d-flex justify-content-center">
                <img src={% static "images/John.jpg" %} alt="education" style="height: 500px;" >
                <div class="carousel-caption">
                    <p id="captiontag">Knowledge acquired is unquantifiable</p>
                </div></div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" >
            <span class="glyphicon glyphicon-chevron-right" ></span>
            <span class="sr-only">Next</span>
        </a>
        </div></div>
        
            <div>
            <p id="title">Education</p>
            </div>
            <div id="row1">
            <div id="side1">
                <img src={% static "images/Oau.jpg" %} class="rounded" alt="Royal" id="Royalpic" >
            </div>
            <div id="main1">
            <p id="Royal1">Obafemi Awolowo University</p>
            <p id="Royal2">B.Sc. in Electronic and Electrical Engineering, earned in 2019</p>
            <p id="Royal3"><strong>Ile-Ife, Osun state</strong></p><br/>
            <p id="Royal4">OAU presented unprecended scale and diversity of oppurtunity. My four years study was great 
                with various discipline across various engineering departments. This avenue helped to know the theories 
                behind various instruments and equipments. 
            </p>
            </div>
            </div>
            <div id="row1">
            <div id="side1">
                <img src={% static "images/edepoly4.jpg" %} class="rounded" alt="Royal" id="Royalpic" >
            </div>
            <div id="main1">
            <p id="Royal1">Federal Polytechnic Ede</p>
            <p id="Royal2">O.N.D in Electrical and Electronics Engineering, earned 2014</p>
            <p id="Royal3"><strong>Ede, Osun state</strong></p><br/>
            <p id="Royal4">Federal Polytechnic Ede was an eye opener in the field with various erudite lecturers 
                and practically oriented programme provided in the course. <br/><br/>
                My partnership with Mr Joseph, a senior colleague, helped in creating an interest in electronics design 
                and construction. The final year project of automatic street light was also a great enlightment in 
                electronic device construction<br/><br/>
                Part of the experience gained while schooling at the institution is the visitation to the Sapele 
                generating power station at Sapele, Delta state. The generating power plant was an hydro power plant 
                and various stages of generation was also experienced, though at that moment, only two of the turbines 
                is working which was used for the station and environments supply of electricity.<br/>    
            </p>
            </div>
            </div> 
            <div id="row1">
            <div id="side1">
                <img src={% static "images/Royal.jpg" %} class="rounded" alt="Royal" id="Royalpic" >
            </div>
            <div id="main1">
            <p id="Royal1">Royal Comprehensive High School</p>
            <p id="Royal2">Class of 2011</p>
            <p id="Royal3"><strong>Modakeke</strong></p><br/>
            <p id="Royal4">I'm grateful for the four years experience in the school with amazing students and teachers.
                All from the wonderful study time with guys, to the punishment mete on us, with those science 
                practicals done, all the way to those sports (soccer majorly). 
            </p>
            </div>
            </div>
            <div id="row1">
            <div id="side1">
                <img src={% static "images/Glory.jpg" %} class="rounded" alt="Royal" id="Royalpic" >
            </div>
            <div id="main1">
            <p id="Royal1">Glory of God Success College</p>
            <p id="Royal2">2005 - 2007</p>
            <p id="Royal3"><strong>Ejigbo</strong></p><br/>
            <p id="Royal4">What an exiting experience in the school with great student and staffs. Where there was 
                academic competition among us then. It was in the school i had a great experience of soccer activities,
                with appellation of 'Martins' who was the reigning young Nigeria striker.
            </p>
            </div>
            </div>
        
        <div class="container-fluid" id="footer">
            <p id="footnote">© 2020 John Adetola </p>
        </div>
        
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Send an email</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="needs-validation" novalidate>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                            </div>
                            <div class="form-group mb-0">
                                <label for="text">Comment:</label>
                                <input type="text" class="form-control" id="text" placeholder="Enter the theme of your message" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                            </div>
                            <div class="form-group mt-0">
                                <textarea rows="5" class="form-control" id="message" placeholder="Enter your message here" required></textarea>
                                <div class="valid-feedback">Valid</div> 
                                <div class="invalid-feedback">Please fill out this field</div> 
                            </div>
                            <button type="submit" class="btn">Submit</button>    
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
        <script>
            document.getElementById("logo").style.pointerEvents = "none";
            
            (function(){
                'use strict';
                window.addEventListener('load', function(){
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function(form){
                        form.addEventListener('submit', function(event){
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                },false);
            })();
        </script>
    </body>

</html>