
#aboutProfile{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap; */
    /*flex-flow: row wrap; */
    /*align-content: stretch; */
    /*width: auto; */
    padding: 30px;
    background-color: snow;
}

#aboutImg{
    flex: 50%;
    width: 100%;
    padding-left: 50px;
}

#imgabout{
    width: 100%;
}

#aboutContent{
    width: 50%;
    padding-left: 40px;
    padding-right: 20px;
    text-align: justify;
    padding-bottom: 10px;
}

@media only screen and (max-width:700px){
    #aboutProfile{
        flex-direction: column;
        padding: 0px;
    }
    #aboutImg{
        width: 100%;
        padding: 20px;
    }
    #aboutContent{
        width: 100%;
    }
}

#footer{
    background-color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 20px;
}

#footnote{
    color:grey;
    text-align: center;
    font-family: sans-serif;
    font-size: small;
}

#header{
    font-size: 60px;
    font-family: Cambria;
    text-align: center;
    font-style: italic;
    padding: 10px;
}

#content{
    font-size: 18px;
    color: lightslategray;
    font-weight: lighter;
    font-family: cursive;
}