<!DOCTYPE html>
<html>
    <head>
      
       

    </head>
    <body>
        {% block bodyblock %}
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Send an email</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="needs-validation" novalidate>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                            </div>
                            <div class="form-group mb-0">
                                <label for="text">Comment:</label>
                                <input type="text" class="form-control" id="text" placeholder="Enter the theme of your message" required>
                                <div class="valid-feedback">Valid</div>
                                <div class="invalid-feedback">Please fill out this field</div>
                            </div>
                            <div class="form-group mt-0">
                                <textarea rows="5" class="form-control" id="message" placeholder="Enter your message here" required></textarea>
                                <div class="valid-feedback">Valid</div> 
                                <div class="invalid-feedback">Please fill out this field</div> 
                            </div>
                            <button type="submit" class="btn">Submit</button>    
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
        
    {% endblock %}    
        
    </body>
</html>